@model FagElGamousExcavation.Models.AllData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AllData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniqId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniqId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialLocSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocationNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialLocationNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocationEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialLocationEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowPairNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowPairNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighPairNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighPairNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowPairEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowPairEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighPairEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighPairEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSubplot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialSubplot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaHillBurials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaHillBurials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TombBurial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TombBurial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SouthToHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SouthToHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SouthToFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SouthToFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WestToHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WestToHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WestToFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WestToFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSituation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialSituation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LengthOfBurialCm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LengthOfBurialCm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialGenderMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialGenderMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderGe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderGe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeFunctionTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeFunctionTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderBodyCol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderBodyCol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasilarSuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasilarSuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentralArc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentralArc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubpubicAngle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubpubicAngle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SciaticNotch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SciaticNotch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PubicBone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PubicBone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreaurSulcus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreaurSulcus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedialIpRamus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedialIpRamus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DorsalPitting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DorsalPitting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForemanMagnum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForemanMagnum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FemurHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FemurHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HumerusHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HumerusHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Osteophytosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Osteophytosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PubicSymphysis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PubicSymphysis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FemurLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FemurLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HumerusLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HumerusLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TibiaLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TibiaLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Robust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Robust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupraorbitalRidges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupraorbitalRidges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrbitEdge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrbitEdge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParietalBossing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParietalBossing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gonian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gonian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuchalCrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuchalCrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZygomaticCrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZygomaticCrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CranialSuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CranialSuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumCranialLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumCranialBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionBregmaHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionBregmaHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionNasion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionNasion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionProsthionLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionProsthionLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BizygomaticDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BizygomaticDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NasionProsthion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NasionProsthion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumNasalBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumNasalBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterorbitalBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterorbitalBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtifactsDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtifactsDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goods)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HairColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HairColorCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairColorCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreservationIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreservationIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialPreservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialPreservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HairTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoftTissueTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoftTissueTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoneTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoneTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToothTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToothTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextileTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextileTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSampleTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialSampleTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviouslySampled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviouslySampled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionOfTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOfTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtifactFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtifactFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateAgeGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimateAgeGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateAgeSingle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimateAgeSingle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialAgeMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialAgeMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimateAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateLivingStature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimateLivingStature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToothAttrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToothAttrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToothEruption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToothEruption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathologyAnomalies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathologyAnomalies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EpiphysealUnion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpiphysealUnion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceBundle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceBundle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateAvg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateAvg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiologicalNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiologicalNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiologicalInitials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiologicalInitials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsteologyNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsteologyNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BagNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BagNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cluster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cluster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBook1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBook1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBook2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBook2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBook3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBook3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBook32)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBook32)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBook4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBook4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBook5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBook5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBook6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBook6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBook7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBook7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBook8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBook8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnknownColSorted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnknownColSorted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOnSkull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOnSkull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthOnSkull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthOnSkull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOnSkull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOnSkull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBookPageNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBookPageNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialsOfDataEntryExpert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialsOfDataEntryExpert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialsOfDataEntryChecker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialsOfDataEntryChecker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ByuSample)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ByuSample)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyAnalysis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyAnalysis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkullAtMagazine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkullAtMagazine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostcraniaAtMagazine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostcraniaAtMagazine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexSkull2018)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexSkull2018)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeSkull2018)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeSkull2018)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RackAndShelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RackAndShelf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToBeConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToBeConfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkullTrauma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkullTrauma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostcraniaTrauma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostcraniaTrauma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CribraOrbitala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CribraOrbitala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoroticHyperostosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoroticHyperostosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoroticHyperostosisLocations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoroticHyperostosisLocations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetopicSuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetopicSuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ButtonOsteoma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ButtonOsteoma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostcraniaTrauma2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostcraniaTrauma2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsteologyUnknownComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsteologyUnknownComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporalMandibularJointOsteoarthritisTmjOa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporalMandibularJointOsteoarthritisTmjOa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinearHypoplasiaEnamel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinearHypoplasiaEnamel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UniqId2">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
